.productContainer {
  display: flex;
  justify-content: space-between;
}
.productImg {
  width: 50%;
  position: relative;
  overflow: hidden;
  height: 60rem;
}
.productImg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
}

.infoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 1.6rem;
}
.breadcrumb {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.productTitle {
  font-size: 3.2rem;
  font-family: "Stardom", sans-serif;
  font-weight: 400;
  line-height: 200%;
}

.vendor {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.description {
  font-size: 1.6rem;
  max-width: 35rem;
  text-align: center;
}

.priceSection {
  display: flex;
  font-size: 1.4rem;
  gap: 0.8rem;
  margin-bottom: 0.8rem;
}

.originalPrice {
  font-weight: 300;
  text-decoration: line-through;
}

.tags {
  display: flex;
  gap: 0.9rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 11rem;
}
.tag {
  padding: 0.8rem 1.6rem;
  border: 1px solid #000;
  border-radius: 100px;
}

@media screen and (max-width: 800px) {
  .productContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .productImg {
    width: 100%;
    height: 30rem;
  }
  .productImg img {
    transform: translate(-50%, -60%) scale(0.8);
  }
  .productTitle {
    font-size: 2.4rem;
  }
}
