.header {
  height: 6.3rem;
  border-bottom: 1px solid #3f3f3f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-size: 2.4rem;
  font-family: "Stardom", sans-serif;
  cursor: pointer;
}

.symbol {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 0.7rem;
  margin-bottom: -2.3rem;
  transition: all 0.5s;
}

.logo:hover .symbol {
  transform: translateX(-1rem);
  transition: all 0.5s;
}

.logo a {
  text-decoration: none;
}

.navigation {
  display: flex;
  list-style-type: none;
  gap: 3rem;
}
.navigation a {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.link {
  position: relative;
}

.link:after,
.menuLink:after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.4s;
}

.link:hover:after,
.menuLink:hover::after {
  transform: scaleX(1);
}

.menu ul {
  display: flex;
  list-style-type: none;
  gap: 1.6rem;
}

.menuLink,
.menuLinkMobile {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.menuLinkMobile {
  display: none;
  width: 4.5rem;
  text-align: right;
}

.active:after {
  transform: scaleX(1);
}

@media screen and (max-width: 800px) {
  .header {
    height: 4.7rem;
  }
  .container {
    width: 100%;
    padding: 0 1.6rem;
  }

  .logo:hover .symbol {
    transform: translateX(0);
  }
  .navigation {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    background-color: #fff;
    z-index: 20;
    margin-top: 4.7rem;
    height: calc(100% - 4.7rem);
    width: 100vw;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s;
    padding-left: 1.6rem;
    overflow: hidden;
  }

  .menuLinkMobile {
    display: block;
  }

  .link {
    height: 7.3rem;
    padding: 1.6rem 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .link a {
    font-family: "Stardom", sans-serif;
    font-size: 3.2rem;
    text-transform: unset;
  }

  .link:hover:after,
  .menuLink:hover::after {
    transform: scaleX(0);
  }

  .translate {
    transition: all 0.5s;
    transform: translateX(0);
  }
  .active {
    border-radius: 100px;
    border: 1px solid #000000;
    box-shadow: 2px 2px 0px #000000;
  }
  .active:after {
    transform: scaleX(0);
  }
}
