.header {
  height: 6.3rem;
  border-bottom: 1px solid #3f3f3f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-size: 2.4rem;
  font-family: "Stardom", sans-serif;
}

.symbol {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 0.7rem;
  margin-bottom: -2.3rem;
}

.logo a {
  text-decoration: none;
}

.navigation {
  display: flex;
  list-style-type: none;
  gap: 3rem;
}
.navigation a {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.link {
  position: relative;
}

.link:after,
.menuLink:after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.4s;
}

.link:hover:after,
.menuLink:hover::after {
  transform: scaleX(1);
}

.menu ul {
  display: flex;
  list-style-type: none;
  gap: 1.6rem;
}

.menuLink {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.active:after {
  transform: scaleX(1);
}
