.btn {
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  background-color: #000;
  border-radius: 6px;
  color: #fff;
  padding: 1rem 7rem;
  text-align: center;
  transition: all 0.3s;
  font-size: 1.4rem;
  border-radius: 1000px;
}

.btn:hover,
.btn:active {
  background-color: #fff;
  border-color: #000;
  color: #000;
  transition: all 0.3s;
}

@media screen and (max-width: 800px) {
  .btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    border: none;
    height: 4.5rem;
  }
  .btn:hover,
  .btn:active {
    background-color: #000;
    border: none;
    color: #fff;
  }
}
