@import url("https://api.fontshare.com/css?f[]=stardom@400&f[]=satoshi@300,400,500&display=swap");

/* font-family: 'Stardom', sans-serif;
font-family: 'Satoshi', sans-serif; */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Satoshi", sans-serif;
}
